*.swp
*.o
*.d
*.a
*.so

prodA/build/inc
prodA/build/src/ap01
prodA/build/src/ap01_shr
prodB/build/inc
prodB/build/src/ap01
prodB/build/src/ap01_shr
prodB/build/src/ap01_wrap
prodB/build/src/ap01_shr_wrap
